<!DOCTYPE html>
<html lang="en">

    
<!-- Mirrored from www.GreeniumTrades.com/contact by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 07 Dec 2021 08:40:10 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="forntEnd-Developer" content="Mamunur Rashid">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> GreeniumTrades - World Leading Cryptocurrency Platform</title>
	<!-- bootstrap -->
	<link rel="stylesheet" href="frontend/assets/css/bootstrap.min.css">
	<!-- Plugin css -->
	<link rel="stylesheet" href="frontend/assets/css/plugin.css">

	<!-- stylesheet -->
	<link rel="stylesheet" href="frontend/assets/css/style.css">
	<!-- responsive -->
	<link rel="stylesheet" href="frontend/assets/css/responsive.css">
</head>
        

<body>   
    
    <!-- Header Area Start  -->
	<header class="header inner-page">
		<!-- Top Header Area Start -->
		<section class="top-header">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="content">
							<div class="left-content">
								<ul class="left-list">
									<li>
										<p>
											<i class="fas fa-headset"></i>	Support
										</p>
									</li>
								</ul>
							</div>
							<div class="right-content">
								<ul class="right-list">
									<li>
										<div class="language-selector">
											<div id="google_translate_element" class="language"></div>
										</div>
									</li>
									<li>
										<ul class="social-link">
											<li>
												<a href="#">
													<i class="fab fa-facebook-f"></i>
												</a>
											</li>
											<li>
												<a href="#">
													<i class="fab fa-twitter"></i>
												</a>
											</li>
											<li>
												<a href="#">
													<i class="fab fa-linkedin-in"></i>
												</a>
											</li>
											<li>
												<a href="#">
													<i class="fab fa-instagram"></i>
												</a>
											</li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Top Header Area End -->
		<!--Main-Menu Area Start-->
		<div class="mainmenu-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">                 
						<nav class="navbar navbar-expand-lg navbar-light">
															<a class="navbar-brand" href="GreeniumTrades">
															<img src="logo.png" alt="GreeniumTrades">
							</a>
							<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_menu" aria-controls="main_menu"
								aria-expanded="false" aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
							</button>
							<div class="collapse navbar-collapse fixed-height" id="main_menu">
								<ul class="navbar-nav ml-auto">
																			<li class="nav-item">
											<a class="nav-link" href="/">Home</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="/about">About</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="/affiliate">Affiliate</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="plan.html">Plans</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="/services">Services</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="/contact">Contact</a>
										</li>
																												<li class="nav-item">
											<a class="nav-link" href="/login">Login</a>
										</li>
																	</ul>
																																																		<a href="/register" class="mybtn1">Get Started </a>
																																													</div>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<!--Main-Menu Area Start-->
	</header>
	<!-- Header Area End  -->    
    
        <!-- Breadcrumb Area Start -->
	<section class="breadcrumb-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h4 class="title">Contact Us</h4>
					<ul class="breadcrumb-list">
						<li>
							<a href="/"> <i class="fas fa-home"></i> Home</a>
						</li>
						<li>
							<span><i class="fas fa-chevron-right"></i> </span>
						</li>
						<li>
							<a href="/contact">Contact Us</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- Breadcrumb Area End -->

	<!-- Calculator Area Start -->
	<div class="calculator mb-5">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="calculator-box"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- Calculator Area End -->

	<!-- Contact Area Start -->
	<section class="contact">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 col-md-10">
					<div class="section-heading">
						<h5 class="subtitle">Contact Us</h5>
						<h2 class="title"> Get in Touch</h2>
						<p class=""> Please complete the form below and one of our team members will get in touch with you as soon as possible.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-8">
					<div class="contact-form-wrapper">
						<h4 class="title">Drop us a Line</h4>
						<form action="https://www.GreeniumTrades.com/contact-mail" method="POST">
							<input type="hidden" name="_token" value="9mNZddQFbLBxHJ6c43e4NtxK5vqyvggo6DhcBrIB">							<div class="row">
								<div class="col-lg-6">
									<div class="form-group">
										<label for="name">Name :</label>
										<input type="text" class="input-field" id="name" name="name" placeholder="Enter Your Name" required>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="form-group">
										<label for="email">Email :</label>
										<input type="email" class="input-field" id="email" name="email" placeholder="Enter Your Email" required>
									</div>
								</div>
								<div class="col-lg-12">
									<div class="form-group">
										<label for="subjict">Subjict :</label>
										<input type="text" class="input-field" id="subjict" name="subjict" placeholder="Write Your Subjict" required>
									</div>
								</div>
								<div class="col-lg-12">
									<div class="form-group button-area">
										<label for="message">Message :</label>
										<textarea id="message" name="message" class="input-field textarea" placeholder="Write Your Message" required></textarea>
										<button type="submit" class="btn-submit"><i class="fas fa-paper-plane"></i></button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="col-lg-4 d-flex">
					<div class="address-area">
						<h4 class="title">Contact Information</h4>
						<ul class="address-list">
							<li>
								<p>
                                    <i class="fas fa-map-marker-alt"></i>
                                    ADDRESS: United Kingdom: Ægisgardur 5, Reykjavik&#039;s Old Harbor
                                </p>
							</li>
							<li>
								<p>
                                    <i class="fas fa-phone"></i> 
                                    Phone:  +1 (336)289-9101
                                </p>
							</li>
                            <li>
								<p>
                                    <i class="far fa-envelope"></i>
									Email:  <a href="mailto:support@GreeniumTrades.com" class="__cf_email__"> support@GreeniumTrades.com</a>
								</p>
							</li>
						</ul>
						<ul class="social-links">
							<li>
								<a href="#">
									<i class="fab fa-facebook-f"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fab fa-twitter"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fab fa-linkedin-in"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fab fa-pinterest-p"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Contact Area End -->

    <!-- How It Works Start -->
	<!-- Get Start Area2 Start -->
<section class="get-start2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
                <div class="section-heading">
                    <h3 class="text-white">Get started </h3>
                    <h2 class="text-white"><b>How it work</b></h2>
                    <p class="text-white">GreeniumTrades  contains well maintained and advanced infrastructure and specialists that potentially offering profitable investment sources and methods. We recognize the different needs of users and we have awesome investment plans to meet every users goal.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="single-work">
                    <div class="icon">
                        <img src="frontend/assets/images/gs1.png" alt="GreeniumTrades">
                    </div>
                    <div class="content">
                        <span class="num">01</span>
                        <h4 class="title">Account Creation</h4>
                        <p class="">First you will need to create an account with us, where you can securely store all your digital currency.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-work">
                    <div class="icon">
                        <img src="frontend/assets/images/gs2.png" alt="GreeniumTrades">
                    </div>
                    <div class="content">
                        <span class="num">02</span>
                        <h4 class="title">Invest in GreeniumTrades</h4>
                        <p class="">After registration create and make investment to the company by choosing your prefered package.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-work">
                    <div class="icon">
                        <img src="frontend/assets/images/gs3.png" alt="GreeniumTrades">
                    </div>
                    <div class="content">
                        <span class="num">03</span>
                        <h4 class="title">Earn Interest</h4>
                        <p class="">After you have completed your investment seat back and our experts we do the rest giving you ROIs.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Get Start Area2 End -->	<!-- How It Works  End -->

    
    
        


<style>
.titles{
    color: #ffff !important;
}
.link-list li a{
    color: #ffff !important;
}
.link-list li a:hover{
    color: #2364d2 !important;
}
</style>
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container" style="position: fixed; top: 720px; width: 100%; z-index: 3000;">
    <div class="tradingview-widget-container__widget"></div>
    <div class="tradingview-widget-copyright">
        <script type="text/javascript" src="../s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
            {
                "symbols": [
                {
                    "proName": "FOREXCOM:SPXUSD",
                    "title": "S&P 500"
                },
                {
                    "proName": "FOREXCOM:NSXUSD",
                    "title": "Nasdaq 100"
                },
                {
                    "proName": "FX_IDC:EURUSD",
                    "title": "EUR/USD"
                },
                {
                    "proName": "BITSTAMP:BTCUSD",
                    "title": "BTC/USD"
                },
                {
                    "proName": "BITSTAMP:ETHUSD",
                    "title": "ETH/USD"
                }
            ],
                "showSymbolLogo": true,
                "colorTheme": "dark",
                "isTransparent": false,
                "displayMode": "adaptive",
                "locale": "en"
            }
        </script>
    </div>
</div>
<!-- TradingView Widget END -->
<!-- Footer Area Start -->
<footer class="footer" id="footer">
    <div class="subscribe-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="subscribe-box">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 ">
                                <div class="image-area">
                                    <img src="frontend/assets/images/subimg.png" alt="GreeniumTrades">
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-8 d-flex">
                                <div class="right-area">
                                    <h5 class="sub-title"> Subscribe to GreeniumTrades </h5>
                                    <h4 class="title">To Get Exclusive Benefits</h4>
                                    <form action="https://www.GreeniumTrades.com/subscribe" method="POST">
                                        <input type="hidden" name="_token" value="9mNZddQFbLBxHJ6c43e4NtxK5vqyvggo6DhcBrIB">                                        <input type="email" name="email" placeholder="Your Email Address" required>
                                        <button type="submit">Subscribe</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-3">
                <div class="footer-widget info-link-widget">
                    <h4 class="title titles">Company</h4>
                    <ul class="link-list">
                                                    <li>
                                <a href="/"><i class="fas fa-angle-double-right"></i>Home</a>
                            </li>
                            <li>
                                <a href="/about"><i class="fas fa-angle-double-right"></i>About</a>
                            </li>
                            <li>
                                <a href="/affiliate"><i class="fas fa-angle-double-right"></i>Affiliate</a>
                            </li>
                                            </ul>
                </div>
            </div>
            <div class="col-sm-12 col-lg-3">
                <div class="footer-widget info-link-widget">
                    <h4 class="title titles">Help & Support</h4>
                    <ul class="link-list">
                                                    <li>
                                <a href="/contact"><i class="fas fa-angle-double-right"></i> Contact Us</a>
                            </li>
                            <li>
                                <a href="/login"><i class="fas fa-angle-double-right"></i>Login</a>
                            </li>
                            <li>
                                <a href="/register"><i class="fas fa-angle-double-right"></i>Register</a>
                            </li>
                                            </ul>
                </div>
            </div>
            <div class="col-sm-12 col-lg-3">
                <div class="footer-widget info-link-widget">
                    <h4 class="title titles">Links</h4>
                    <ul class="link-list">
                                                    <li>
                                <a href="/terms-of-use"><i class="fas fa-angle-double-right"></i>Terms Of Use</a>
                            </li>
                            <li>
                                <a href="/services"><i class="fas fa-angle-double-right"></i>Services</a>
                            </li>
                            <li>
                                <a href="/faq"><i class="fas fa-angle-double-right"></i> FAQ</a>
                            </li>
                                            </ul>
                </div>
            </div>
            <div class="col-sm-12 col-lg-3">
                <div class="footer-widget info-link-widget">
                    <h4 class="title titles">Legal Info </h4>
                    <ul class="link-list">
                                                    <li>
                                <a href="plan.html"><i class="fas fa-angle-double-right"></i>Plans</a>
                            </li>
                            <li>
                                <a href="/services"><i class="fas fa-angle-double-right"></i>Services</a>
                            </li>
                            <li>
                                <a href="/faq"><i class="fas fa-angle-double-right"></i> FAQ</a>
                            </li>
                                            </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="content">
                        <div class="content">
                            <p class="text-white">Copyright © 2017 - 2021. All Rights Reserved By <a href="/">GreeniumTrades</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Area End -->    
    
    <!-- jquery -->
<script src="frontend/assets/js/jquery.js"></script>
<!-- popper -->
<script src="frontend/assets/js/popper.min.js"></script>
<!-- bootstrap -->
<script src="frontend/assets/js/bootstrap.min.js"></script>
<!-- plugin js-->
<script src="frontend/assets/js/plugin.js"></script>
<!-- main -->
<script src="frontend/assets/js/main.js"></script>

<script type="text/javascript">
	function googleTranslateElementInit() {
		new google.translate.TranslateElement(
			{pageLanguage: 'en'},
			'google_translate_element'
		);
	}
</script>

<script type="text/javascript" src="https://translate.google.com/translate_a/element.js?
	cb=googleTranslateElementInit">
</script>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
	var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
	(function(){
	var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
	s1.async=true;
	s1.src='https://embed.tawk.to/61d427d03d23fa26e870f1d8/1foibn1qn';
	s1.charset='UTF-8';
	s1.setAttribute('crossorigin','*');
	s0.parentNode.insertBefore(s1,s0);
	})();
	</script>
	<!--End of Tawk.to Script-->

</body>


<!-- Mirrored from www.GreeniumTrades.com/contact by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 07 Dec 2021 08:40:10 GMT -->
</html>