<!DOCTYPE html>
<html lang="en">

    
<!-- Mirrored from www.GreeniumTrades.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 07 Dec 2021 08:38:57 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="forntEnd-Developer" content="Mamunur Rashid">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> GreeniumTrades - World Leading Cryptocurrency Platform</title>
	<!-- bootstrap -->
	<link rel="stylesheet" href="frontend/assets/css/bootstrap.min.css">
	<!-- Plugin css -->
	<link rel="stylesheet" href="frontend/assets/css/plugin.css">

	<!-- stylesheet -->
	<link rel="stylesheet" href="frontend/assets/css/style.css">
	<!-- responsive -->
	<link rel="stylesheet" href="frontend/assets/css/responsive.css">
</head>
        <style>
		.single-fun {
			padding-top: 75px;
			padding-bottom: 75px;
		}
		.single-fun .plan-title {
			color: #282828;
    		font-family: 'Exo 2', sans-serif;
    		font-weight: 700;
    		margin: 0 0 28px;
        	margin-bottom: 0;
    		line-height: 1;
			font-size: 42px;
		}	
		.single-fun .plan-primary-title {
			color: #c99c3b !important;
			font-size: 42px;
    		font-family: 'Exo 2', sans-serif;
			font-weight: 700;
			margin: 0 0 28px;
			line-height: 1;
		}
		.single-fun ul {
			padding: 0;
			list-style: none;
			margin-bottom: 20px;
			margin-top: 0;
		}
		.single-fun ul li {
			padding-left: 35px;
			position: relative;
		}		
		.single-fun ul li::before {
			background-image: none;
			position: absolute;
			width: 1.5em;
			height: 1.5em;
			font-size: 16px;
			font-family: 'Font Awesome 5 Free';
			font-weight: 900;
			content: "\f058";
			color: #1e87f0;
			top: 0px;
			left: 4px;
		}
		.ending{
			border: #E46D12 solid 1px;
			background: #F6FDF9;
		}
		.certified {
			padding-left: 75px;
			position: relative;
			margin-top: 30px;
			margin-bottom: 30px;
		}
	</style>

<body>   
    
    <!-- Header Area Start  -->
	<header class="header ">
		<!-- Top Header Area Start -->
		<section class="top-header">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="content">
							<div class="left-content">
								<ul class="left-list">
									<li>
										<p>
											<i class="fas fa-headset"></i>	Support
										</p>
									</li>
								</ul>
							</div>
							<div class="right-content">
								<ul class="right-list">
									<li>
										<div class="language-selector">
											<div id="google_translate_element" class="language"></div>
										</div>
									</li>
									<li>
										<ul class="social-link">
											<li>
												<a href="#">
													<i class="fab fa-facebook-f"></i>
												</a>
											</li>
											<li>
												<a href="#">
													<i class="fab fa-twitter"></i>
												</a>
											</li>
											<li>
												<a href="#">
													<i class="fab fa-linkedin-in"></i>
												</a>
											</li>
											<li>
												<a href="#">
													<i class="fab fa-instagram"></i>
												</a>
											</li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Top Header Area End -->
		<!--Main-Menu Area Start-->
		<div class="mainmenu-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">                 
						<nav class="navbar navbar-expand-lg navbar-light">
															<a class="navbar-brand" href="/">
															<img src="logo.png" alt="GreeniumTrades">
							</a>
							<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_menu" aria-controls="main_menu"
								aria-expanded="false" aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
							</button>
							<div class="collapse navbar-collapse fixed-height" id="main_menu">
								<ul class="navbar-nav ml-auto">
																			<li class="nav-item">
											<a class="nav-link" href="/">Home</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="/about">About</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="/affiliate">Affiliate</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="/plan">Plans</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="/services">Services</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="/contact">Contact</a>
										</li>
																												<li class="nav-item">
											<a class="nav-link" href="/login">Login</a>
										</li>
																	</ul>
																																																		<a href="/register" class="mybtn1">Get Started </a>
																																													</div>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<!--Main-Menu Area Start-->
	</header>
	<!-- Header Area End  -->    
    
       

    <!-- Hero Area Start -->
    <div class="hero-area partical-area">
		<div id="particles-js"></div>
		<div class="container">
			<div class="row ">
				<div class="col-lg-10 d-flex align-self-center">
					<div class="left-content">
						<div class="content text-center">
							<h5 class="subtitle">Instant, Secure and Private</h5>
							<h1 class="title">Let The Experts Do The Trading While You Earn Big</h1>
							<p class="text-white">Invest Now And Get Unimaginable Returns, Use Modern Progressive Technologies of Bitcoin To Earn Money.</p>
							<div class="links">
																	<a href="/about" class="mybtn1 link1"><span> Learn More</span> </a>
									<a href="/register" class="mybtn1 link2"><span>Get Started</span> </a>
															</div>
						</div>
					</div>
				</div>
                
			</div>
		</div>
	</div>
	<!-- Hero Area End -->

	<!-- About Us Area Start -->
	<section class="about">
		<div class="about-top">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="left-area">
							<div class="section-heading">
								<h5 class="subtitle extra-padding">
									Our Journey In a Nutshell
								</h5>
								<h2 class="title">About GreeniumTrades </h2>
								<p class="">GreeniumTrades was established by Brian Armstrong, The company have over the years been involved in trading Binary Options and real estate initially, till expansion into Forex and Crypto Currency. The Company provides professional forex and crypto trading services through state-of-art trading platform, which is specially developed for investors’ convenience.</p>
								<p class="">GreeniumTrades is a cutting edge result of global co-activity and converging of corporate interests on the worldwide level. The way of the organization has been begun from a little relationship of similarly invested individuals in the field of exchanging on general wares, merchandise and enterprises.</p>
								<p class="">Over the past 2 decades, we have grown into a reliable asset management company that is able to consistently give more than 14% of the return on the funds invested by investors.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="right-area">
							<img src="/frontend/assets/images/mercury.png" alt="GreeniumTrades">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- About Us Area Start -->

	<!-- Lend Area Start -->
	<section class="lend">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 col-md-10">
					<div class="section-heading">
						<h5 class="subtitle extra-padding">Tracking Crypto Prices Made Easy</h5>
						<h2 class="title">Cyptocurrency Prices and Ranks</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="tab-content" id="pills-tabContent">
						<div class="tab-pane fade show active" id="pills-lend" role="tabpanel" aria-labelledby="pills-lend-tab">
							<ul>
								<div style="height:433px; background-color: #1D2330; overflow:hidden; box-sizing: border-box; border: 1px solid #282E3B; border-radius: 4px; text-align: right; line-height:70px; font-size: 12px; font-feature-settings: normal; text-size-adjust: 100%; box-shadow: inset 0 -20px 0 0 #262B38; padding: 0px; margin: 0px; width: 100%;">
									<div style="height:413px; padding:0px; margin:0px; width: 100%;">
										<iframe src="https://widget.coinlib.io/widget?type=full_v2&amp;theme=light&amp;cnt=6&amp;pref_coin_id=1505&amp;graph=yes" width="100%" height="900" scrolling="auto" marginwidth="0" marginheight="0" frameborder="0" border="0" style="border:0;margin:0;padding:0;"></iframe>
									</div>
									<div style="color: #626B7F; line-height: 14px; font-weight: 400; font-size: 11px; box-sizing: border-box; padding: 2px 6px; width: 100%; font-family: Verdana, Tahoma, Arial, sans-serif;">
										<a href="https://coinlib.io/" target="_blank" style="font-weight: 500; color: #626B7F; text-decoration:none; font-size:11px"></a>&nbsp;
									</div>
								</div>
								<div class="poweredBy" style="font-family: Arial, Helvetica, sans-serifutm_source=WMT&amp;utm_medium=referral&amp;utm_campaign=TOP_CRYPTOCURRENCIES&amp;utm_content=Footer%20Link" target="_blank" rel="nofollow">
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Lend Area End -->

	<!-- Whay Choose us Area Start -->
	<section class="why-choose-us">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 col-md-10">
					<div class="section-heading">
						<h5 class="subtitle"> The Most Trusted</h5>
						<h2 class="title extra-padding">Why Choose GreeniumTrades </h2>
						<p class=""> Here are a few reasons why you should choose GreeniumTrades </p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="single-why">
						<div class="left">
							<div class="icon">
								<img src="frontend/assets/images/why1.png" alt="GreeniumTrades">
							</div>
						</div>
						<div class="right">
							<h4 class="title">Protection & Security</h4>
							<p class="">Stop loss and take profit orders will help secure your investment. The system will automatically execute trades to realise gains.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="single-why">
						<div class="left">
							<div class="icon">
								<img src="frontend/assets/images/why2.png" alt="GreeniumTrades">
							</div>
						</div>
						<div class="right">
							<h4 class="title">Licensed Exchange</h4>
							<p class="">Our customers perform transactions not only in cryptocurrency, but the major world currencies supported by the system.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="single-why">
						<div class="left">
							<div class="icon">
								<img src="frontend/assets/images/why3.png" alt="GreeniumTrades">
							</div>
						</div>
						<div class="right">
							<h4 class="title">Payments</h4>
							<p class="">We payout instantly. All requested payment made are usually processed and paid in the equivalent cryptocurrency invested.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="single-why">
						<div class="left">
							<div class="icon">
								<img src="frontend/assets/images/why4.png" alt="GreeniumTrades">
							</div>
						</div>
						<div class="right">
							<h4 class="title">Affiliate</h4>
							<p class="">We are affiliated with top companies in the forex business and we deal also on Real Estate, Forex trading, Gold Mining. We have a deal with our Investments Insurance partners, best in the market from USA which trades in our Business Enterprise portfolio and in return provides insurance services and elite attorneys for us.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="single-why">
						<div class="left">
							<div class="icon">
								<img src="frontend/assets/images/why5.png" alt="GreeniumTrades">
							</div>
						</div>
						<div class="right">
							<h4 class="title">24/7 Support</h4>
							<p class="">We guarantee you of our expert support both day and night. All you need is to write to us using the email address provided in below.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="single-why">
						<div class="left">
							<div class="icon">
								<img src="frontend/assets/images/why6.png" alt="GreeniumTrades">
							</div>
						</div>
						<div class="right">
							<h4 class="title">Easy to Use Platform</h4>
							<p class="">Our platform was designed in such a way that it's compatible with all devices and easy to navigate.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Whay Choose us Area End -->

	<!-- fact Area Start -->
	<section class="fact">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-10 col-md-10">
					<div class="section-heading">
						<h2 class="title">Complete package for every traders</h2>
					</div>
				</div>
			</div>
			<div class="row">
																						<div class="col-lg-4 col-md-4 col-12 mt-3">
								<div class="single-fun ">
									<center>
										<h2 class="plan-title">STARTER PLAN</h2>
										<h2 class="plan-primary-title">1.25% <br> Daily</h2>
										<hr>
										<ul class="uk-list uk-list-bullet">
											<li>MIN Deposit: <b>$ 300</b></li>
											<li>MAX Deposit: <b>$ 4,990</b></li>
											<hr>
											<li><b>5%</b> 1<sup>st</sup> Level Referral Bonus</li>
											<li><b>2.5%</b> 2<sup>nd</sup>  Level Referral Bonus</li>
											<li>Withdrawals Payout: <b>Fridays</b></li>
											<li>Capital withdrawal: <b>90 Days</b></li>
											<li>24/7 Live Support</li>
										</ul>
																					<a href="/register" class="mybtn1 link1">
																					Open an account
											<i class="fas fa-chevron-circle-right fa-xs uk-margin-small-left"></i>
										</a>
									</center>
								</div>
							</div>
																								<div class="col-lg-4 col-md-4 col-12 mt-3">
								<div class="single-fun ">
									<center>
										<h2 class="plan-title">PREMIUM PLAN</h2>
										<h2 class="plan-primary-title">1.35% <br> Daily</h2>
										<hr>
										<ul class="uk-list uk-list-bullet">
											<li>MIN Deposit: <b>$ 5,000</b></li>
											<li>MAX Deposit: <b>$ 9,900</b></li>
											<hr>
											<li><b>5%</b> 1<sup>st</sup> Level Referral Bonus</li>
											<li><b>2.5%</b> 2<sup>nd</sup>  Level Referral Bonus</li>
											<li>Withdrawals Payout: <b>Fridays</b></li>
											<li>Capital withdrawal: <b>90 Days</b></li>
											<li>24/7 Live Support</li>
										</ul>
																					<a href="/register" class="mybtn1 link1">
																					Open an account
											<i class="fas fa-chevron-circle-right fa-xs uk-margin-small-left"></i>
										</a>
									</center>
								</div>
							</div>
																								<div class="col-lg-4 col-md-4 col-12 mt-3">
								<div class="single-fun ">
									<center>
										<h2 class="plan-title">UNLIMITED PLAN</h2>
										<h2 class="plan-primary-title">1.5% <br> Daily</h2>
										<hr>
										<ul class="uk-list uk-list-bullet">
											<li>MIN Deposit: <b>$ 10,000</b></li>
											<li>MAX Deposit: <b>$ 50,000</b></li>
											<hr>
											<li><b>5%</b> 1<sup>st</sup> Level Referral Bonus</li>
											<li><b>2.5%</b> 2<sup>nd</sup>  Level Referral Bonus</li>
											<li>Withdrawals Payout: <b>Fridays</b></li>
											<li>Capital withdrawal: <b>90 Days</b></li>
											<li>24/7 Live Support</li>
										</ul>
																					<a href="/register" class="mybtn1 link1">
																					Open an account
											<i class="fas fa-chevron-circle-right fa-xs uk-margin-small-left"></i>
										</a>
									</center>
								</div>
							</div>
																								<div class="col-lg-6 col-md-6 col-12 mt-3">

							</div>
																		
			</div>
		</div>
	</section>
	<!-- fact Area End -->

	<!-- How it work Area Start -->
	<section class="how-it-work">
		<div class="container">
			<div class="row">
				<div class="col-lg-7 single-work">
					<div class="section-heading">
						<h2 class="title">Company Certificate</h2>
					</div>
					<div class="single-works">
						<p>Now you can start trading Bitcoin, Ethereum and many cryptocurrencies fast, easily and safely from where ever you are. With great margin trading leverage and short sell options available with quick deposit & withdrawal capability, you can start trading with us in seconds.</p>
						<div class="certified animation animated fadeInUp" data-animation="fadeInUp" data-animation-delay="0.1s" style="animation-delay: 0.3s; visibility: visible;">
							<img src="frontend/assets/images/used/award.png"/>
							<div class="certified-details">
								<h5>Company Address</h5>
								<p>United Kingdom: Ægisgardur 5, Reykjavik&#039;s Old Harbor </p>
								<div class="certified animation animated fadeInUp" data-animation="fadeInUp" data-animation-delay="0.1s" style="animation-delay: 0.3s; visibility: visible;">
									<img src="frontend/assets/images/used/award.png"/>
									<div class="certified-details">
										<h5>Company Number</h5>
										<p>#901130</p>
									</div>
								</div>
							
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-5">
					<div class="download-img">
						<img src="frontend/assets/images/used/certificate.png">
						<a class="mybtn1 link1" data-animation="fadeInUp" data-animation-delay="0.4s" href="frontend/assets/images/used/certificate.png" download style="animation-delay: 0.4s; visibility: visible;">
									<span class="ion-android-download"></span>Download Certificate
									<i class="ion-ios-arrow-thin-right"></i>
								</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- How it work Area End -->

	<!-- Get Start Area Start -->
	<section class="get-start">
		<div class="container">
			<div class="row">
				<div class="col-lg-5">
					<div class="left-image">
						<img src="frontend/assets/images/get-start.png" alt="GreeniumTrades">
					</div>
				</div>
				<div class="col-lg-7">
					<div class="rihgt-area">
						<div class="section-heading">
							<h5 class="subtitle extra-padding">REFERAL COMMISION</h5>
							<h2 class="title  extra-padding">1 Level Affiliate Program</h2>
							<p class="">In addition to your earnings on your deposit, you are able to share the investment opportunity within your community and earn more from their deposits. The more referral you given to Dacaminvestment, more commission you earn.</p>
							<p>We have only one level referral programs for you, through which you can earn upto 10% referral commission.</p>
															<a href="/register" class="mybtn1">Become a Member</a>
													</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Get Start Area End -->

	<!-- How It Works Start -->
	<!-- Get Start Area2 Start -->
<section class="get-start2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
                <div class="section-heading">
                    <h3 class="text-white">Get started </h3>
                    <h2 class="text-white"><b>How it work</b></h2>
                    <p class="text-white">GreeniumTrades  contains well maintained and advanced infrastructure and specialists that potentially offering profitable investment sources and methods. We recognize the different needs of users and we have awesome investment plans to meet every users goal.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="single-work">
                    <div class="icon">
                        <img src="frontend/assets/images/gs1.png" alt="GreeniumTrades">
                    </div>
                    <div class="content">
                        <span class="num">01</span>
                        <h4 class="title">Account Creation</h4>
                        <p class="">First you will need to create an account with us, where you can securely store all your digital currency.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-work">
                    <div class="icon">
                        <img src="frontend/assets/images/gs2.png" alt="GreeniumTrades">
                    </div>
                    <div class="content">
                        <span class="num">02</span>
                        <h4 class="title">Invest in GreeniumTrades</h4>
                        <p class="">After registration create and make investment to the company by choosing your prefered package.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-work">
                    <div class="icon">
                        <img src="frontend/assets/images/gs3.png" alt="GreeniumTrades">
                    </div>
                    <div class="content">
                        <span class="num">03</span>
                        <h4 class="title">Earn Interest</h4>
                        <p class="">After you have completed your investment seat back and our experts we do the rest giving you ROIs.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Get Start Area2 End -->	<!-- How It Works  End -->

	<div class="tradingview-widget-container">
		<div id="tradingview_82a7a">
			<div id="tradingview_2fe8c-wrapper" style="position: relative;box-sizing: content-box;width: 100%;height: calc(600px - 32px);margin: 0 auto !important;padding: 0 !important;font-family:Arial,sans-serif;">
				<div style="width: 100%;height: calc(600px - 32px);background: transparent;padding: 0 !important;">
					<iframe id="tradingview_2fe8c" src="https://s.tradingview.com/widgetembed/?frameElementId=tradingview_2fe8c&amp;symbol=COINBASE%3ABTCUSD&amp;interval=D&amp;symboledit=1&amp;saveimage=1&amp;toolbarbg=f1f3f6&amp;studies=%5B%5D&amp;theme=light&amp;style=1&amp;timezone=Etc%2FUTC&amp;studies_overrides=%7B%7D&amp;overrides=%7B%7D&amp;enabled_features=%5B%5D&amp;disabled_features=%5B%5D&amp;locale=en&amp;utm_source=bitcoin-aspire.com&amp;utm_medium=widget_new&amp;utm_campaign=chart&amp;utm_term=COINBASE%3ABTCUSD" style="width: 100%; height: 100%; margin: 0 !important; padding: 0 !important;" frameborder="0" allowtransparency="true" scrolling="no" allowfullscreen=""></iframe>
				</div>
			</div>
		</div>
		<div class="tradingview-widget-copyright" style="width: 100%;">
			<a href="https://www.tradingview.com/symbols/COINBASE-BTCUSD/" rel="noopener" target="_blank">
				<span class="blue-text">BTCUSD Chart</span>
			</a> by 		</div>
		<script type="text/javascript" src="s3.tradingview.com/tv.html"></script>
		<script type="text/javascript">
			new TradingView.widget(
				{
					"width": 100%,
					"height": 100%,
					"symbol": "COINBASE:BTCUSD",
					"interval": "D",
					"timezone": "Etc/UTC",
					"theme": "dark",
					"style": "1",
					"locale": "en",
					"toolbar_bg": "#f1f3f6",
					"enable_publishing": false,
					"allow_symbol_change": true,
					"container_id": "tradingview_82a7a"
				}
			);
		</script>
	</div>

	<!-- Testimonial Area Start -->
	<section class="testimonial mb-3">
		<div class="testimonial-top-area">
			<img class="shape" src="frontend/assets/images/testi-shape.png" alt="GreeniumTrades">
			<div class="container">
				<div class="row">
					<div class="col-lg-7 d-flex align-self-center">
						<div class="left-area">
							<div class="section-heading">
								<p class="subtitle extra-padding">
									<b>Open an account for free and start trading Bitcoins!</b>
								</p>
								<h4 class="title extra-padding">GET STARTED TODAY WITH CRYPTOCURRENCY</h4>
								<p class="">Bitcoin is one of the most important inventions in all of human history. For the first time ever, anyone can send or receive any amount of money with anyone else, anywhere on the planet, conveniently and without restriction. It’s the dawn of a better, more free world.</p>
																	<a href="/register" class="mybtn1">GET STARTED</a>
															</div>
						</div>
					</div>
					<div class="col-lg-5 d-flex align-self-center">
						<div class="right-img">
							<img src="frontend/assets/images/mercury3.png" alt="GreeniumTrades">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Testimonial Area End -->
	
    
    
        
    
    
    <!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/61a3e5ea9099530957f706bd/1flk3k7ma';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->

<style>
.titles{
    color: #ffff !important;
}
.link-list li a{
    color: #ffff !important;
}
.link-list li a:hover{
    color: #2364d2 !important;
}
</style>
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container" style="position: fixed; top: 720px; width: 100%; z-index: 3000;">
    <div class="tradingview-widget-container__widget"></div>
    <div class="tradingview-widget-copyright">
        <script type="text/javascript" src="../s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
            {
                "symbols": [
                {
                    "proName": "FOREXCOM:SPXUSD",
                    "title": "S&P 500"
                },
                {
                    "proName": "FOREXCOM:NSXUSD",
                    "title": "Nasdaq 100"
                },
                {
                    "proName": "FX_IDC:EURUSD",
                    "title": "EUR/USD"
                },
                {
                    "proName": "BITSTAMP:BTCUSD",
                    "title": "BTC/USD"
                },
                {
                    "proName": "BITSTAMP:ETHUSD",
                    "title": "ETH/USD"
                }
            ],
                "showSymbolLogo": true,
                "colorTheme": "dark",
                "isTransparent": false,
                "displayMode": "adaptive",
                "locale": "en"
            }
        </script>
    </div>
</div>
<!-- TradingView Widget END -->
<!-- Footer Area Start -->
<footer class="footer" id="footer">
    <div class="subscribe-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="subscribe-box">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 ">
                                <div class="image-area">
                                    <img src="frontend/assets/images/subimg.png" alt="GreeniumTrades">
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-8 d-flex">
                                <div class="right-area">
                                    <h5 class="sub-title"> Subscribe to GreeniumTrades </h5>
                                    <h4 class="title">To Get Exclusive Benefits</h4>
                                    <form action="https://www.GreeniumTrades.com/subscribe" method="POST">
                                        <input type="hidden" name="_token" value="9mNZddQFbLBxHJ6c43e4NtxK5vqyvggo6DhcBrIB">                                        <input type="email" name="email" placeholder="Your Email Address" required>
                                        <button type="submit">Subscribe</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-3">
                <div class="footer-widget info-link-widget">
                    <h4 class="title titles">Company</h4>
                    <ul class="link-list">
                                                    <li>
                                <a href="index.html"><i class="fas fa-angle-double-right"></i>Home</a>
                            </li>
                            <li>
                                <a href="/about"><i class="fas fa-angle-double-right"></i>About</a>
                            </li>
                            <li>
                                <a href="/affiliate"><i class="fas fa-angle-double-right"></i>Affiliate</a>
                            </li>
                                            </ul>
                </div>
            </div>
            <div class="col-sm-12 col-lg-3">
                <div class="footer-widget info-link-widget">
                    <h4 class="title titles">Help & Support</h4>
                    <ul class="link-list">
                                                    <li>
                                <a href="/contact"><i class="fas fa-angle-double-right"></i> Contact Us</a>
                            </li>
                            <li>
                                <a href="/login"><i class="fas fa-angle-double-right"></i>Login</a>
                            </li>
                            <li>
                                <a href="/register"><i class="fas fa-angle-double-right"></i>Register</a>
                            </li>
                                            </ul>
                </div>
            </div>
            <div class="col-sm-12 col-lg-3">
                <div class="footer-widget info-link-widget">
                    <h4 class="title titles">Links</h4>
                    <ul class="link-list">
                                                    <li>
                                <a href="/terms-of-use"><i class="fas fa-angle-double-right"></i>Terms Of Use</a>
                            </li>
                            <li>
                                <a href="/services"><i class="fas fa-angle-double-right"></i>Services</a>
                            </li>
                            <li>
                                <a href="/faq"><i class="fas fa-angle-double-right"></i> FAQ</a>
                            </li>
                                            </ul>
                </div>
            </div>
            <div class="col-sm-12 col-lg-3">
                <div class="footer-widget info-link-widget">
                    <h4 class="title titles">Legal Info </h4>
                    <ul class="link-list">
                                                    <li>
                                <a href="plan.html"><i class="fas fa-angle-double-right"></i>Plans</a>
                            </li>
                            <li>
                                <a href="/services"><i class="fas fa-angle-double-right"></i>Services</a>
                            </li>
                            <li>
                                <a href="/faq"><i class="fas fa-angle-double-right"></i> FAQ</a>
                            </li>
                                            </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="content">
                        <div class="content">
                            <p class="text-white">Copyright © 2017 - 2021. All Rights Reserved By <a href="index.html">GreeniumTrades</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Area End -->    
    
    <!-- jquery -->
<script src="frontend/assets/js/jquery.js"></script>
<!-- popper -->
<script src="frontend/assets/js/popper.min.js"></script>
<!-- bootstrap -->
<script src="frontend/assets/js/bootstrap.min.js"></script>
<!-- plugin js-->
<script src="frontend/assets/js/plugin.js"></script>
<!-- main -->
<script src="frontend/assets/js/main.js"></script>

	
	<script type="text/javascript">
		function googleTranslateElementInit() {
			console.log("LANG");
			new google.translate.TranslateElement(
				{pageLanguage: 'en'},
				'google_translate_element'
			);
		}

	</script>
	
	<script type="text/javascript" src="https://translate.google.com/translate_a/element.js?
		cb=googleTranslateElementInit">
	</script>
	
	
</body>


<!-- Mirrored from www.GreeniumTrades.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 07 Dec 2021 08:39:41 GMT -->
</html>